#div-container button {
	cursor: pointer; /* Pointer/hand icon */
	display: block; /* Make the buttons appear below each other */
	background-color: transparent;
	border-color: transparent;
}

* {
	font-family: sans-serif;
}

.vl {
	border-left: 6px solid #333;
	height: 100%;
	position: absolute;
	left: 5%;
	margin-left: -3px;
	top: 0;
}

label, span, h1, h2, h3, body, table {
	margin-top: 0px;
	color: white;
}

a {
	color: skyblue;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	color: white;
}